<a href="https://colab.research.google.com/github/FelipeVillegasH/Sales_Prediction_Project_CodingDojo/blob/main/Sales_Prediction_Part2_DataBase_Cleaning_Preliminary_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Sales Prediction Project Part 2 Data Cleaning 
## By Felipe Villegas
### Created: 15.01.2022
#### Description: Data Cleaning and preliminary Statistical analysis of a food company database.

In [237]:
import pandas as pd

In [238]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [239]:
#spdf stands for: sales prediction data frame
spdf=pd.read_csv('/content/drive/MyDrive/CodingDojo/tareas/core/Semana 2 Pandas/sales_predictions.csv')

In [240]:
spdf.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [241]:
spdf.info()
# note:  Item_Weight and Outlet_Size lack data 
spdf[['Outlet_Size','Item_Weight']].isna()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

      Outlet_Size  Item_Weight
0           False        False
1           False        False
2           False        False
3            True        False
4           False        False
...           ...          ...
8518        False        False
8519         True        False
8520        False        False
8521        False        False
8522        False        False

[8523 rows x 2 columns]

In [242]:
# using loc we locate the NaN values of the variables in order to do a more descriptive analysis
# we do this first by generating variables of the NaN values for each respective column of analysis 
#Outlet_Size_NaN= spdf['Outlet_Size']=='NaN'
#Item_Weight_NaN= spdf['Item_Weight']=='NaN'
# then we locate the NaN values by using those filters in a loc function (do not forget that in .loc we do not use '' for the filter terms)
#NaN_Values= spdf.loc[Outlet_Size_NaN & Item_Weight_NaN,:]
#NaN_Values
# Note, this method didnt work cause it is intend to operate with operators, and since here we are analysing NaN values, we cannot opperate, and therefore 
# we cannot get an answer.

In [243]:
# Using Logical operators we can print the NaN Values for the two Columns
#Outlet_Size_NaN= spdf['Outlet_Size']=='NaN'
#Item_Weight_NaN= spdf['Item_Weight']=='NaN'
#NaN_Values= spdf[(Outlet_Size_NaN)&(Item_Weight_NaN)]
#NaN_Values

In [244]:
spdf[spdf['Outlet_Size'].isna()]
# we locate the NaN values for the variable with .isna

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
3              FDX07       19.200  ...      Grocery Store           732.3800
8              FDH17       16.200  ...  Supermarket Type1          1076.5986
9              FDU28       19.200  ...  Supermarket Type1          4710.5350
25             NCD06       13.000  ...  Supermarket Type1           838.9080
28             FDE51        5.925  ...      Grocery Store           178.4344
...              ...          ...  ...                ...                ...
8502           NCH43        8.420  ...  Supermarket Type1          3020.0688
8508           FDW31       11.350  ...  Supermarket Type1          2587.9646
8509           FDG45        8.100  ...      Grocery Store           424.7804
8514           FDA01       15.000  ...  Supermarket Type1           468.7232
8519           FDS36        8.380  ...  Supermarket Type1           549.2850

[2410 rows x 12 columns]

In [245]:
spdf[spdf['Item_Weight'].isna()]
# we locate the NaN values for the variable with .isna

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8488           NCN14          NaN  ...  Supermarket Type3          2756.4120
8490           FDU44          NaN  ...      Grocery Store           487.3656
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [246]:
spdf['Outlet_Size'].isna().sum()

2410

In [247]:
spdf['Item_Weight'].isna().sum()

1463

In [248]:
# NaN Percentage for each variable: 
Item_Weight_NaN_Percentage= spdf['Item_Weight'].isna().sum()/len(spdf['Item_Weight'])
Item_Weight_NaN_Percentage*100

17.165317376510618

In [249]:
Outlet_Size_NaN_Percentage= spdf['Outlet_Size'].isna().sum()/len(spdf['Outlet_Size'])
Outlet_Size_NaN_Percentage*100

28.27642848762173

Therefore we should not just delete the columns because, the percentage of NaN values in the columns its not higher than 30%, also, the item weight are variables that could define if a product sales different regarding on their format and the Outlet size could be also used to segmentate productos by the store type so we strongly encourage not to delete the columns and niether promediate or add random values in the blank spots hence it could skew further analysis

In conclusion, we will generate an observation for the NaN spots in the variables (columns) so then, we can manage that data related on the item size or the outlet size they lack to to further analysis with products that do not consider this data.This could be usefull in general analysis on predicting tendecies on completely new products. we will do this by replacing the NaN Values on each variable with: the observation: No_Item_Weight and No_Outlet_Size respectively 

Aditional reazons for this Desition: 
we have also analysed the column **Outlet_Identifier** in order to try to find if an outlet lacking it's size, also has this data in another entry by looking for it by it's **Outlet_Identifier** but this was not the case so we could not assign an outlet size depending on it's Identifier. we tried this also with the **Outlet_Type** and didn't work 
we also tried this method of assigning observation based in other variables with similar data on the Item_Size, but there was no related data that we could link to assing to the NaN observations.

In [250]:
# we proceed to replace the NaN spots (Item_Weight):
spdf['Item_Weight']=spdf['Item_Weight'].fillna('No_Item_Weight')

In [251]:
# we proceed to replace the NaN spots (Outlet_Size):
spdf['Outlet_Size']=spdf['Outlet_Size'].fillna('No_Outlet_Size')

In [252]:
spdf.head()

  Item_Identifier Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.3  ...  Supermarket Type1          3735.1380
1           DRC01        5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.5  ...  Supermarket Type1          2097.2700
3           FDX07        19.2  ...      Grocery Store           732.3800
4           NCD19        8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [253]:
spdf.info()
# here we confirm if the corrections were made by matching the non-null counts on every column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   object
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(3), int64(1), object(8)
memory usage: 799.2+ KB

In [254]:
Item_Weight_Analysis=spdf.groupby(['Item_Weight'])[['Item_Outlet_Sales']].mean()
Item_Weight_Analysis

                Item_Outlet_Sales
Item_Weight
4.555                 1761.706800
4.59                  1267.683200
4.61                  1993.595429
4.615                 4078.025000
4.635                 2184.489800
...                           ...
21.1                  1851.472306
21.2                  2763.735800
21.25                 2199.192883
21.35                 3391.490086
No_Item_Weight        2483.677474

[416 rows x 1 columns]

In [255]:
Item_Weight_Analysis=Item_Weight_Analysis.sort_values(by=['Item_Outlet_Sales'],ascending=[False])
Item_Weight_Analysis
# In general terms we can affirm that on average the most items sold are those of 5.9 in weight

             Item_Outlet_Sales
Item_Weight
5.905              5305.094400
5.845              4701.879600
8.000              4648.171733
8.050              4460.443875
5.695              4413.207743
...                        ...
6.905               456.738800
5.925               455.007720
6.400               371.516400
7.670               365.999771
9.105               110.966667

[416 rows x 1 columns]

In [256]:
Item_Weight_Analysis.loc['No_Item_Weight',:]

Item_Outlet_Sales    2483.677474
Name: No_Item_Weight, dtype: float64

In [257]:
Item_Weight_Analysis.sum()

Item_Outlet_Sales    863855.977323
dtype: float64

In [258]:
Percentage_No_Item_Weight=(Item_Weight_Analysis.loc['No_Item_Weight',:]/Item_Weight_Analysis.sum())*100
Percentage_No_Item_Weight
# the items with no weight registered percentage out of the total historic sales is 0.28% hence we can conclude that this values will not affect substantially
# our further analysis

Item_Outlet_Sales    0.287511
dtype: float64

In [259]:
spdf.describe()
# Also these are the main quick statistical summaries that we could use to analyse our data forehand

       Item_Visibility  ...  Item_Outlet_Sales
count      8523.000000  ...        8523.000000
mean          0.066132  ...        2181.288914
std           0.051598  ...        1706.499616
min           0.000000  ...          33.290000
25%           0.026989  ...         834.247400
50%           0.053931  ...        1794.331000
75%           0.094585  ...        3101.296400
max           0.328391  ...       13086.964800

[8 rows x 4 columns]

In [260]:
Item_Fat_Content_Analysis=spdf.groupby(['Item_Fat_Content']).sum()
Item_Fat_Content_Analysis
# we also realized that in order to clean our data we should Homologate similar terms in order to regularize the data 
# such as we see in the following dataframe the Item_Fat_Content expresses the same fat level in different terms which tend to skew or data
# therefore we use .... to fix this

                  Item_Visibility  ...  Item_Outlet_Sales
Item_Fat_Content                   ...
LF                      21.054330  ...       6.552424e+05
Low Fat                326.541080  ...       1.101503e+07
Regular                200.970026  ...       6.457454e+06
low fat                  7.313655  ...       2.338270e+05
reg                      7.764190  ...       2.295765e+05

[5 rows x 4 columns]

In [261]:
# we homologate the similar names of the observations with the method .replace and by calling the columns with []
spdf['Item_Fat_Content']= spdf['Item_Fat_Content'].replace('LF', 'Low Fat')
spdf['Item_Fat_Content']= spdf['Item_Fat_Content'].replace('reg', 'Regular')
spdf['Item_Fat_Content']= spdf['Item_Fat_Content'].replace('low fat', 'Low Fat')

In [262]:
Item_Fat_Content_Analysis=spdf.groupby(['Item_Fat_Content']).sum()
Item_Fat_Content_Analysis
# finally we check that the homologation went well and so we can confirm that our data is clean and ready to be analysed

                  Item_Visibility  ...  Item_Outlet_Sales
Item_Fat_Content                   ...
Low Fat                354.909065  ...       1.190409e+07
Regular                208.734216  ...       6.687031e+06

[2 rows x 4 columns]